* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

.s-hero {
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #ffffff;
    color: white;
}

.logo {
    width: 80px;
}

.s-hero .container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.s-hero .container .card {
    width: 70%;
}

.s-hero .container .midia {
    height: 100%;
    width: 100%;
    position: relative;
}

.s-hero .container .midia img {
    width: 100%;
    height: 100%;
}

.s-hero .container .midia .selected {
    opacity: 1;
}

.shadow {
    width: 100%;
    height: 80vh;
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(to right, black 40%, transparent);
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.shadow .wrapper {
    margin-left: 120px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.shadow .wrapper h1 {
    max-width: 64%;
    font-size: 24px;
}

.shadow .wrapper p {
    color: gray;
    max-width: 40%;
}

section.icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    gap: 80px;
    overflow: hidden;
}

section.icons .container {
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 80px;
}

section.icons .container .wrapper {
    display: flex;
    flex-direction: column;

    position: relative;
    animation: anima 15s linear infinite;
}

section.icons .container .wrapper::after{
    content:"";
    position:absolute;
 }
 
 @keyframes anima{
    from {right: 0}
    to {right: 100%}
 }


section.icons .container .wrapper img{
    border-radius: 50%;
    width: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.icons .metrics {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

section.icons .metrics .text {
    max-width: 50%;
    margin: 0 auto;
}

section.icons .metrics h3 {
    font-size: 32px;
}

section.s-about {
    background-color: #171717;
    width:100%;
    display: flex;
}

section.s-about .wrapper{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

section.s-about .wrapper .cards {
    margin: 0 auto;
    margin-top: -40px;
    display: flex;
    gap: 16px;
}

section.s-about .wrapper .cards .card {
    border: 1px solid rgb(29, 29, 29);
    background-color: white;
    padding: 16px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section.s-about .wrapper .cards .card .icon {
    display: flex;
}

section.s-about .wrapper .cards .card .icon img {
    width: 80px;
    margin: 0 auto;
}

section.s-about .wrapper .container {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
}

section.s-about .wrapper .container .service {
    background-color: white;
    padding: 8px 16px;
    font-weight: bold;
    border: 2px solid white;
    color: black;
}

section.s-about .wrapper .container .contact {
    padding: 8px 16px;
    border: 2px solid white;
    color: white;
}

section.s-about .wrapper .container .service:hover {
    background-color: #00e7f777;
}

section.s-about .wrapper .container .contact:hover {
    background-color: #00e7f73d;
}

section.sector {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #171717;
    padding-top: 80px;
}


section.sector .container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
}

section.sector .container .sector-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    max-width: 50%;
    margin-left: 14%;
}

section.sector .title h2 {
    color: white;
    text-align: start;
}

section.sector .description p{
    color: #b6b6b6;
    max-width: 90%;
}

section.sector .side-left .title h2 {
    text-align:start;
    color: white;
}

section.s-banner .image {
    width: 100%;
    height: 800px;
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #171717;
}

section.s-client {
    width: 80%;
    display: flex;
    margin: 80px 0;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    padding: 24px 0;
}

section.s-client .wrapper {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

section.s-client .wrapper .cards {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

section.s-client .wrapper .cards .card {
    border: 1px solid rgba(128, 128, 128, 0.089);
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 12px;
    padding: 8px 16px;
}

section.s-client .wrapper .cards .card img {
    width: 48px;
}

#img-2-mobile {
    display: none;
}

section.s-client .wrapper .cards .card .text {
    margin: 0 auto;
}

section.s-client .wrapper .cards .card p {
    text-align: center;
}

section.s-client .wrapper .cards .card .image-client {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer {
    background-color: #151515;
    color: white;
    display: flex;
    padding: 64px 0;
}

footer .whatsapp {
    position: fixed;
    width: 64px;
    z-index: 100;
    bottom: 32px;
    left: 32px;
}

footer .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

footer img {
    width: 150px;
    margin: auto;
}

footer a img {
    width: 60px;
    position: fixed;
    bottom: 24px;
    left: 24px; 
    z-index: 101;
}

footer a img:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

/* ANIMATIONS */

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes toTop {
    from {
        margin-top: 200px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}